.barrra-tareas {
    width: 100%;
    height: 3rem;
    padding: 0 1rem;
    background-color: #24292f;

    position: absolute;
    bottom: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.carpeta {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 1rem;
}