body {
    width: 100%;
    height: 99.6vh;

    /* Alineación */
    display: flex;
    justify-content: center;

    background-image: url("https://www.xtrafondos.com/wallpapers/montanas-nevadas-en-el-bosque-9913.jpg");
    background-size: cover;
}

.escritorio {
    width: 100%;
    height: 100%;

    position: relative;
}